{{- $github_email := promptStringOnce . "github_email" "Github email" -}}
{{- $github_name := promptStringOnce . "github_name" "Github name" "Chris Winberry" -}}
{{- $github_signingkey := promptStringOnce . "github_signingkey" "Github signing key" -}}
{{- $machine_context := promptStringOnce . "machine_context" "Machine context" "home" -}}
[data]
  github_email={{ $github_email | quote }}
  github_name={{ $github_name | quote }}
  github_signingkey={{ $github_signingkey | quote }}
  machine_context={{ $machine_context | quote }}
  homebrew_dir={{ if eq .chezmoi.arch "amd64" }}"/usr/local"{{ else }}"/opt/homebrew"{{ end }}
