[user]
	name = {{ .github_name }}
	email = {{ .github_email }}
	signingkey = {{ .github_signingkey }}

[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[core]
	autocrlf = input
	editor = micro
	excludesfile = /Users/chris/.gitignore_global
	# pager = diff-so-fancy | less --tabs=4 -RFX
	# show = diff-so-fancy | less --tabs=4 -RFX

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
	difftool = true

[interactive]
	diffFilter = delta --color-only

[delta]
	syntax-theme = TwoDark
	navigate = true
	plus-style = "syntax #113810"
	minus-style = "syntax #541011"
	side-by-side = true

[alias]
	lp = log --pretty=oneline --abbrev-commit --graph --decorate
	s = status -u -s
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci %C(dim)%cr%Creset%Cgreen) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci %C(dim)%cr%Creset%Cgreen) %C(bold blue)<%an>%Creset' --abbrev-commit --name-status
	d = diff
	prestaged = diff --cached
	staged = diff origin/main main
	madd = add -u
	squash = rebase -i HEAD~2
	unstage = reset HEAD --
	nevermind = checkout -- .
	unstash = stash pop
	rpull = pull --rebase
	rp = pull --rebase
	co = checkout
	b = branch
	bv = branch -v
	c = commit
	p = pull
	f = fetch
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	amnesia = update-index --assume-unchanged
	recall = update-index --no-assume-unchanged
	forgetfulness = !sh -c 'git ls-files -v | grep ^[a-z]'
	draft = !sh -c 'git stash save $0 && git stash apply stash@{0}'
	cob = checkout -b
	cot = checkout -t
	cobt = checkout -t -b
	wbl = branch --contains
	wb = branch -r --contains
	sls = "stash list"
	ssave = "stash save"
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"
	backup = "push --all backup"
	has = branch --contains
	mc = log --graph --pretty --oneline --abbrev-commit --simplify-merges --date=relative
	nb = branch --sort=-committerdate
	frebase = "!f() { git rebase -i $(git log --pretty=oneline --color=always | fzf --ansi | cut -d ' ' -f1)^ ; }; f"
	fco = !git checkout $(git branch -a --format '%(refname:short)' | sed 's~origin/~~' | sort | uniq | fzf)
	dft = difftool

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[branch]
	autosetupmerge = true

[log]
	date = iso

[push]
	default = tracking
	followTags = true

[credential]
	helper = osxkeychain

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[diff]
	renames = copies
	mnemonicprefix = true
	algorithm = patience
	colorMoved = default
	tool = difftastic

[merge]
	stat = true
	summary = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = false

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[init]
	defaultBranch = main
