### Taps ###

tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "heroku/brew"

{{- if eq .machine_context "work" }}
tap "aws/tap"
tap "fishtown-analytics/dbt"
tap "heroku/brew"
{{- end }}

# tap "brewsci/science"
# tap "caskroom/cask"
# tap "dart-lang/dart"
# tap "mengbo/ch340g-ch34g-ch34x-mac-os-x-driver", "https://github.com/mengbo/ch340g-ch34g-ch34x-mac-os-x-driver"
# tap "microsoft/msodbcsql", "https://github.com/Microsoft/homebrew-mssql-preview"
# tap "microsoft/mssql-release"
# tap "mike-engel/jwt-cli"
# tap "minio/stable"
# tap "mongodb/brew"
# tap "rbenv/tap"
# tap "remind101/formulae"
# tap "saulpw/vd"

### Brews ###

brew "antigen"
brew "gcc"
brew "autoconf"
brew "automake"
brew "bat"
brew "gettext"
brew "glib"
brew "pkg-config"
brew "bzip2"
brew "curl"
brew "diff-so-fancy"
brew "fzf"
brew "git"
brew "mackup"
brew "mas"
brew "node"
brew "ncdu"
brew "node"
brew "nvm"
brew "prettier"
brew "ripgrep"
brew "the_silver_searcher"
brew "tmux"
brew "wget"
brew "wtfutil"
brew "zsh"

{{- if eq .machine_context "home" }}
brew "postgresql@14"
brew "pyenv"
brew "pyenv-virtualenv"
brew "heroku/brew/heroku"
{{- end }}

{{- if eq .machine_context "work" }}
brew "awscli"
brew "newrelic-cli"
brew "aws/tap/aws-sam-cli"
{{- end }}

# brew "giflib"
# brew "libtiff"
# brew "isl"
# brew "libmpc"
# brew "xz"
# brew "libevent"
# brew "arrayfire"
# brew "gdbm"
# brew "python@3.10"
# brew "asciinema"
# brew "libusb"
# brew "avrdude"
# brew "berkeley-db", link: true
# brew "freetype"
# brew "fontconfig"
# brew "python@3.9"
# brew "cairo"
# brew "icu4c"
# brew "harfbuzz"
# brew "bfg"
# brew "boost"
# brew "burp"
# brew "c-ares"
# brew "cabextract"
# brew "cfitsio"
# brew "cfn-lint", link: false
# brew "cgal"
# brew "chezmoi"
# brew "cksfv"
# brew "cmake"
# brew "cocoapods"
# brew "coreutils"
# brew "csvkit"
# brew "libidn2"
# brew "libssh2"
# brew "openldap"
# brew "jpeg", link: true
# brew "deno"
# brew "dialog"
# brew "direnv"
# brew "dnsmasq", restart_service: true
# brew "gnu-tar"
# brew "dpkg"
# brew "erlang"
# brew "elixir"
# brew "enca"
# brew "exa"
# brew "exif"
# brew "exiftool"
# brew "exiftran"
# brew "folly"
# brew "fizz"
# brew "wangle"
# brew "fbthrift"
# brew "fb303"
# brew "fd"
# brew "libtool"
# brew "guile"
# brew "libtasn1"
# brew "unbound"
# brew "gnutls"
# brew "lame"
# brew "gobject-introspection"
# brew "libass"
# brew "srt"
# brew "ffmpeg"
# brew "figlet"
# brew "unixodbc", link: false
# brew "freetds", link: false
# brew "freexl"
# brew "fswatch"
# brew "gd"
# brew "geos"
# brew "json-c"
# brew "krb5"
# brew "libdap"
# brew "libgeotiff"
# brew "libpq"
# brew "libspatialite"
# brew "netcdf"
# brew "numpy"
# brew "poppler"
# brew "qt"
# brew "gdal", link: false
# brew "gifsicle"
# brew "git-delta"
# brew "git-lfs"
# brew "glances", link: false
# brew "gnu-cobol"
# brew "gnu-sed"
# brew "gnu-time"
# brew "go"
# brew "gradle"
# brew "pango"
# brew "librsvg"
# brew "graphviz"
# brew "htop"
# brew "httpie"
# brew "httrack"
# brew "libplist"
# brew "libimobiledevice"
# brew "libzip"
# brew "openssl@3"
# brew "ideviceinstaller"
# brew "shared-mime-info"
# brew "libheif"
# brew "imagemagick"
# brew "ios-deploy"
# brew "jadx"
# brew "jansson"
# brew "jid"
# brew "jless"
# brew "oniguruma"
# brew "jq"
# brew "kite"
# brew "libiodbc"
# brew "liblwgeom"
# brew "libwebsockets"
# brew "libyaml"
# brew "lsyncd"
# brew "luarocks"
# brew "lzlib"
# brew "mackup"
# brew "maven"
# brew "md5sha1sum", link: false
# brew "micro"
# brew "micropython"
# brew "mitmproxy"
# brew "mongosh"
# brew "mono"
# brew "mosh"
# brew "mosquitto"
# brew "mozjpeg"
# brew "mysql"
# brew "nghttp2"
# brew "nginx"
# brew "noti"
# brew "openconnect"
# brew "opencv@2"
# brew "openjdk@11"
# brew "openvpn"
# brew "optipng"
# brew "ox"
# brew "p7zip"
# brew "pandoc"
# brew "pg_top"
# brew "pipenv"
# brew "pipx"
# brew "platformio"
# brew "pngquant"
# brew "poetry"
# brew "poppler-qt5"
# brew "postgresql@13"
# brew "postgresql@9.5"
# brew "postgresql@9.6"
# brew "prettyping"
# brew "python@2"
# brew "q"
# brew "qrencode"
# brew "rbenv"
# brew "rclone"
# brew "redis"
# brew "rethinkdb"
# brew "rlwrap"
# brew "ruby"
# brew "rust"
# brew "rustup-init"
# brew "sendemail"
# brew "sfcgal"
# brew "shellcheck"
# brew "shfmt"
# brew "siege"
# brew "sphinx-doc"
# brew "sqlite-analyzer"
# brew "sshfs", link: false
# brew "step"
# brew "stm32flash"
# brew "streamlink"
# brew "stunnel"
# brew "telnet"
# brew "temporal_tables"
# brew "tig"
# brew "tldr"
# brew "utf8proc"
# brew "traefik"
# brew "tree"
# brew "uchardet"
# brew "ufraw"
# brew "unison"
# brew "unrar"
# brew "watch"
# brew "watchman"
# brew "xsv"
# brew "youtube-dl"
# brew "zbar"
# brew "zlib"
# brew "zsh-syntax-highlighting"
# brew "brewsci/science/butterflow"
# brew "dart-lang/dart/dart"
# brew "fishtown-analytics/dbt/dbt", link: false
# brew "fishtown-analytics/dbt/dbt@0.19.2"
# brew "microsoft/msodbcsql/msodbcsql"
# brew "microsoft/mssql-release/msodbcsql17"
# brew "mike-engel/jwt-cli/jwt-cli"
# brew "minio/stable/minio"
# brew "mongodb/brew/mongodb-database-tools", link: false
# brew "mongodb/brew/mongodb-community", link: false
# brew "remind101/formulae/assume-role"
# brew "saulpw/vd/visidata"

### Casks ###

cask "docker"
cask "firefox"
cask "google-chrome"
cask "hammerspoon"
cask "insomnia"
cask "iterm2"
cask "quicksilver"
cask "slack"
cask "spectacle"
cask "speedcrunch"
cask "visual-studio-code"

{{- if eq .machine_context "home" }}
cask "1password"
cask "1password-cli"
cask "arq"
cask "backblaze"
cask "carbon-copy-cloner"
cask "dash"
cask "dropbox"
cask "istat-menus"
cask "jetbrains-toolbox"
cask "keybase"
cask "little-snitch"
cask "royal-tsx"
cask "transmit"
cask "ultimaker-cura"
cask "viscosity"
cask "vmware-fusion"
cask "zoom"
{{- end }}

{{- if eq .machine_context "work" }}
cask "aws-vault"
{{- end }}

# cask "backblaze-downloader"
# cask "cool-retro-term"
# cask "datagrip"
# cask "devdocs"
# cask "disk-inventory-x"
# cask "dotnet-sdk"
# cask "epichrome"
# cask "filemon"
# cask "flux"
# cask "fman"
# cask "fritzing"
# cask "gimp"
# cask "github-desktop"
# cask "gitkraken"
# cask "google-backup-and-sync"
# cask "google-play-music-desktop-player"
# cask "gpxsee"
# cask "hex-fiend"
# cask "hosts"
# cask "karabiner-elements"
# cask "keybase"
# cask "kitematic"
# cask "launchcontrol"
# cask "launchrocket"
# cask "libreoffice"
# cask "love"
# cask "macdown"
# cask "macvim"
# cask "meld"
# cask "mono-mdk"
# cask "netdownloadhelpercoapp"
# cask "nteract"
# cask "omnigraffle"
# cask "openvpn-connect"
# cask "osxfuse"
# cask "postman"
# cask "powershell"
# cask "procexp"
# cask "react-native-debugger"
# cask "recordit"
# cask "secretive"
# cask "skitch"
# cask "spideroakone"
# cask "spotify"
# cask "superduper"
# cask "timing"
# cask "tunnelblick"
# cask "vimr"
# cask "vlc"
# cask "vnc-viewer"
# cask "wch-ch34x-usb-serial-driver"
# cask "wkhtmltopdf"
# cask "xquartz"
# cask "yt-music"

### Fonts ###

cask "font-3270-nerd-font"
cask "font-agave-nerd-font"
cask "font-anonymice-nerd-font"
cask "font-arimo-nerd-font"
cask "font-aurulent-sans-mono-nerd-font"
cask "font-bigblue-terminal-nerd-font"
cask "font-bitstream-vera-sans-mono-nerd-font"
cask "font-blex-mono-nerd-font"
cask "font-caskaydia-cove-nerd-font"
cask "font-code-new-roman-nerd-font"
cask "font-cousine-nerd-font"
cask "font-daddy-time-mono-nerd-font"
cask "font-dejavu-sans-mono-nerd-font"
cask "font-droid-sans-mono-nerd-font"
cask "font-fantasque-sans-mono-nerd-font"
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "font-go-mono-nerd-font"
cask "font-gohufont-nerd-font"
cask "font-hack-nerd-font"
cask "font-hasklig"
cask "font-hasklug-nerd-font"
cask "font-heavy-data-nerd-font"
cask "font-hurmit-nerd-font"
cask "font-im-writing-nerd-font"
cask "font-inconsolata-dz-for-powerline"
cask "font-inconsolata-for-powerline"
cask "font-inconsolata-g-for-powerline"
cask "font-inconsolata-go-nerd-font"
cask "font-inconsolata-lgc-nerd-font"
cask "font-inconsolata-lgc"
cask "font-inconsolata-nerd-font"
cask "font-inconsolata"
cask "font-input"
cask "font-iosevka-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-lekton-nerd-font"
cask "font-liberation-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-monofur-nerd-font"
cask "font-monoid-nerd-font"
cask "font-mononoki-nerd-font"
cask "font-mplus-nerd-font"
cask "font-noto-nerd-font"
cask "font-open-dyslexic-nerd-font"
cask "font-overpass-nerd-font"
cask "font-profont-nerd-font"
cask "font-proggy-clean-tt-nerd-font"
cask "font-roboto-mono-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "font-shure-tech-mono-nerd-font"
cask "font-space-mono-nerd-font"
cask "font-terminess-ttf-nerd-font"
cask "font-tinos-nerd-font"
cask "font-ubuntu-mono-nerd-font"
cask "font-ubuntu-nerd-font"
cask "font-victor-mono-nerd-font"

### AppStore ###

mas "RsyncGUI", id: 1449707783
mas "Sandkorn", id: 1377973524
mas "Spark", id: 1176895641
mas "Xcode", id: 497799835

{{- if eq .machine_context "home" }}
mas "Brother iPrint&Scan", id: 1193539993
mas "GoPro Player", id: 1460836908
mas "HP Smart", id: 1474276998
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Pixelmator Pro", id: 1289583905
mas "Pluralsight", id: 431748264
mas "Ring", id: 1142753258
mas "Tailscale", id: 1475387142
mas "The Unarchiver", id: 425424353
mas "WireGuard", id: 1451685025
{{- end }}

{{- if eq .machine_context "work" }}
{{- end }}
